.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}


h1 {
    margin: 5px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
    text-align: center;
}

h2 {
  color: aqua;
  padding-bottom: 1px;
}

button {
     background-color: #9ffc6d;
     border-radius: 50px;
}

button:hover {
    cursor: pointer;
    background-color: #dcff4e;
}

p {
  font-size: 2rem;
  color: #4ecc65;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
